//VARIABLES DE ENTORNO MOMENTANEAS DEL PROYECTO, SE DEBE CREAR UN ARCHIVO .env.dev y .env.test EN LA RAIZ DEL PROYECTO CON LOS VALORES CORRESPONDIENTES PARA CADA VARIABLE

PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/lemon_app_db"
JWT_SECRET="JWT_SECRET_KEY"
JWT_EXPIRES_IN="1h"